@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taprom&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2 {
    font-family: "Catamaran", sans-serif;
}

.header {
    background: url("/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .jsonimage {
    width: 100%;
    height: 10vh;
    margin-bottom: 2rem;
}

.header .direccion {
    text-transform: none;
}

.flex {
    display: flex;
    flex: 1;
    gap: 10px;
}

.header .card img{
    width: 100%;
}

.header .card {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.text-title {
    font-size: 100px;
}

.text-container {
    border: 10px solid #CFA674 !important;
   font-size: 100px;
}

.new {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.text-container-2 {
    border: 10px solid #CFA674 !important;
}

hr {
    background: #CFA674;
	height: 3px;
	border: 0;
	opacity: 1;
	width: 100px;
    color: #CFA674;
}

/* .text-italic {
    font-family: Calibri !important;
    color: #F5CE65;

} */

span {
    font-family: 'Taprom', sans-serif;
	font-size: 7rem !important;
	margin-top: -50px;
    color: #CFA674;
    text-transform: uppercase;
}

.btn-primar {
    padding: 10px 100px;
    color:white;
    background: #CFA674;
    margin-bottom: 10px;
    border-radius: 10px;
}

.btn-primar:hover {
	background: #4d4d4d;
}



